
.container{
  text-align: center;
  color: black;
}
.box{
  width: 80px;
  height: 80px;
  border: 1px solid red;
  display: inline-block;
  line-height: 80px;
  font-size: 5rem;
  
}
.board{
  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
}
.title{
  color: black;
}
.player_turn{
  color: black;
}